.wp-block-cartive-favorite-artists-block {

	> div {
		display: flex;

		figure {
			margin-bottom: 0;
			height: 16ch;
			position: relative;


			img {
				height: 16ch;
				width: auto;
				object-fit: cover;
				object-position: center center;
			}

			figcaption {
				position: absolute;
				background-color: rgba(0, 0, 0, 0);
				height: 100%;
				width: 100%;
				color: #fff;
				top: 0;
				left: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: all 0.5s ease-out;

				div {
					visibility: hidden;
				}

				&:hover {
					height: 100%;
					background-color: rgba(0, 0, 0, 0.5);

					div {
						visibility: visible;
					}
				}

			}
		}
	}
}
