.wp-block-cartive-favorite-artists-block {

	> div {
		display: flex;

		figure {
			width: 16ch;
			margin-top: 0;
			margin-bottom: 0;
			flex-basis: 100%;

			img {
				height: 16ch;
				width: auto;
				object-fit: cover;
				object-position: center center;
			}
		}
	}
}
